<%- include('header') %>
<form method="GET" action="/cotacao">
  <div class="container">
    Digite o valor da cotação utilizando ponto (ex: 5.46).
  </div>
  <input name="cotacao" placeholder="Cotação dolar"><br>
  <input name="quantidade" placeholder="Quantidade de dolares"><br>
  <button>Converter!</button>
</form>
<%- include('footer') %>
