body {
  background-color: #F9F8ED;
  text-align: center;
}

h1 img {
  width: 613px;
  height: auto;
  margin: 20px;
}
input {
  border: 1px solid #C4E3CB;
  background: #fdfae5;
  font-size: 20px;
  padding: 10px;
  margin: 4px;
}
button {
  border: 1px solid #6A9C78;
  background: #FFF1BC;
  font-size: 20px;
  color: #686d76;
  padding: 10px;
  margin-top: 4px;
}
.result {
  font-size: 30px;
  font-style: oblique;
  padding: 10px;
  border: 1px solid #c4e3cb;
  background: #FFF1BC;
}

div p {
  font-size: 20px;
  color: #686d76;
  padding: 10px;
  margin: 4px
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
.push {
  height: 50px;
}